.Rproj.user
.Rhistory
.RData
.Renviron
*.csv
*.xlsx
.txt
.bib
.Ruserdata
.DS_Store
VOSviewer.jar
network.net
Rubbish
desktop.ini
vignette.txt
inst/doc
inst/biblioshiny/__MACOSX
inst/biblioshiny/rsconnect
_gh-pages

